@use "../../styles/mixins" as m;

.productStyling {
  @include m.flexBox(column, center, center, 1rem);

  header {
    img {
      width: 100%;
    }
  }

  .commentContainer {
    @include m.flexBox(row, center, center, 0.5rem);
  }

  h3 {
    margin: 0;
  }

  p {
    text-align: center;
  }
}
