$light-blue-background: #93afc7;
$background-color: #64849d;
$white-color: #fff;
$grey-color: #d7f0ff;

$light-grey: #646464;
$dark-grey: #333;
$dark-color: #252525;

$button-color: #607684;
$form-background: #fcfdff;
$form-icon-background: #bcc8d4;
