@use "../../styles/mixins" as m;

.wrapperStyling {
  // min-height: 100vh;
  
  &.productsContainer {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    gap: 1rem;
    margin-bottom: 1rem;
  }

  &.loginWrapper {
    min-height: 60vh;
  }

  &.infoWrapper {
    @include m.flexBox(column, center, center, 0rem);
    @media (min-width: 768px) {
      flex-direction: row;
    }
  }
}
