@use "../../styles/mixins" as m;
@use "../../styles/variables" as *;
@use "../../styles/placeholders";

.cardStyling {
    @include m.flexBox(column, center, center, 1rem);
    @extend %LobsterFont;
    text-align: center;

    img {
        width: 50vw;
        border-radius: 50%;

        @media (min-width: 768px) {
            width: 10vw;
        }
    }

    p {
        color: $light-grey;

        @media (min-width: 768px) {
            max-width: 260px;
        }
    }
}