@use "../../styles/variables" as *;

.iconStyling {
  display: block;

  &.upArrow {
    width: 8vw;
    transform: rotate(-90deg);
  }

  &.slideArrow {
    width: 8vw;
    height: 4vh;
  }

  &.slideArrowRev {
    width: 8vw;
    height: 4vh;
    transform: rotate(180deg);
  }

  &.inputIcon {
    width: 6vw;
    background: $light-blue-background;
    padding: 0.2rem;
  }
}
