@use "../../styles/mixins" as m;
@use "../../styles/variables" as *;
@use "../../styles/placeholders";

.sliderStyling {
    position: relative;

    img {
        width: 100vw;
        height: 30vh;

        @media (min-width: 768px) {
            height: 60vh;
            object-fit: cover;
        }
    }

    .arrowContainer {
        @include m.flexBox(row, space-between, center, 20rem);
        position: absolute;
        top: 40%;

        img {
            height: 4vh;
            cursor: pointer;
        }

        @media (min-width: 768px) {
            gap: 95vw;

            img {
                height: 3vh;
                width: 2vw;
            }
        }
    }

    h2 {
        text-align: center;
        color: $white-color;
        @extend %LobsterFont;
        position: absolute;
        top: 40%;
        left: 50%;
        transform: translate(-50%, -50%);
        width: 300px;
        text-shadow: 1px 2px #00000099;

        @media (min-width: 768px) {
            font-size: 40px;
            width: auto;
        }
    }

    .circleContainer {
        @include m.flexBox(row, center, center, 0.1rem);
        position: absolute;
        bottom: 5%;
        left: 50%;
        transform: translate(-50%);

        .circleStyling {
            display: block;
            width: 1rem;
            height: 1rem;
            border-radius: 50%;
            background: $light-grey;
        }
    }
}